body {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
  font-family: Georgia, Verdana, sans-serif;}
h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: #0b3c6a;
}
h1,h2 {
  padding: 10px;
  font-style: italic;
  background-color: #c2c2c2
}
em {
    font-style: normal;
    font-weight: bold;
  }
h1 {
  border: 3px outset ;
  background-color: #d4d4d4;
  color: #0b3c6a;
  padding: 15px;}
p {
  padding: 5px;
  margin: 0px;
  font-weight: 100;
  font-stretch: ultra-condensed;
}

nav li {
   display: inline-block;
   text-decoration: none;
   padding: 5px;
  }


nav {
  background-color: #818181;
}

nav a{
  text-decoration: none;
  color: #ffffff;
}


.mainbody{
  width: 75%;
  margin: 0 auto;
}
.contentbody{
  display: flex;
  flex-direction: row;
}

.div1{
  width:75%;
  margin-right: 10px;
}
.div2{
  width: 25%;
  margin-right: 10px;
}

.workexp{
  width: 50%;
}

.generalinfo{
  width: 50%;}

.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.form1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 20px;


}

.request-form{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: 150px;
  padding: 50px;

}


fieldset{
  margin: 20px;
  padding: 25px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

legend{
  font-size: 150%
}

label {
  width: 100px;
  text-align: left;
}

input{
  width: 280px;
  display: block;
}


button{
  display: block;
  margin-top: 16px;
  margin-left: auto;
  align-self: flex-end;
}


.feedbacks{
  color: #ff0000;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 95px;
}

.hidden{
  display: none;
}






@media (max-width: 600px) {

  .form1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 20px;}

  fieldset{
    width: 100%;
    align-self: center;}

  label{
    align-items: flex-start;
  }
  }
