*{
  font-size: 15px;
}
body {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
  font-family: Georgia, Verdana, sans-serif;}
h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #0b3c6a;
}
h1,h2 {
  padding: 10px;
  font-style: italic;
  background-color: #c2c2c2
}
em {
    font-style: normal;
    font-weight: bold;
  }
h1 {
  border: 3px outset ;
  background-color: #d4d4d4;
  color: #0b3c6a;
  padding: 15px;}
p {
  padding: 5px;
  margin: 0px;
  font-weight: 100;
  font-stretch: ultra-condensed;
}

nav li {
   display: inline-block;
   text-decoration: none;
   padding: 5px;
  }


nav {
  background-color: #818181;
}

nav a{
  text-decoration: none;
  color: #ffffff;
}


.mainbody{
  width: 75%;
  margin: 0 auto;
}
.contentbody{
  display: flex;
  flex-direction: row;
}

.div1{
  width:75%;
  margin-right: 10px;
}
.div2{
  width: 25%;
  margin-right: 10px;
}

.workexp{
  width: 50%;
}

.generalinfo{
  width: 50%;}

.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-desc{
  font-size: 20px;
  text-align: center;
}

.form1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px}

fieldset{
  margin: 50px;
  padding: 35px;
  padding-bottom: 60px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

legend{
  font-size: 150%
}

label {
  width: 100px;
  text-align: left;
  font-size: 17px;
}

input, textarea{
  width: 280px;
  display: block;
}

.hours{
  width: 30px;
}


.submitbutton{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit]{
  width: 140px;
  align-self:flex-end;
  margin-right: 100px;

}



.feedbacks{
  color: #ff0000;
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 15px;
  margin-left: 95px;
}

.hidden{
  display: none;
}

@media (min-width: 600px) and (max-width: 900px){

  input[type=submit]{
    margin-right: 0px;}

}

@media (max-width: 600px) {

  .form1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    }

  label{
    margin-left: 45px;
    align-self: flex-start;
    margin-top: 0px;
    align-items: flex-start;
    display: inline;
    }

  fieldset{
    max-width: 100%;
    align-self: center;
    padding: 20px;
    padding-top: 0px;}


  .feedbacks{
    margin-left: 45px;
    margin-bottom: 0px;
  }

  .hours{
    display: inline-block;
    margin-left: 45px;
    align-self: flex-start;
  }

  .hourstitle{
    width: 300px
  }

  input[type=submit]{
    margin-right: 0px;
    padding-right: 0px;}
}
